<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a>为你喜欢的学院投票吧</a>
<form action="/vote/yours/voting" method="post">
    <input list="entiy" name="entiy"/>
    <datalist id="entiy" >
        <option value="生物信息学院">
        <option  value="通信信息学院">
        <option  value="安法学院">
        <option  value="外国语学院">
        <option  value="先进制造学院">
        <option  value="光电学院">
    </datalist>
    <input type="submit" value="Submit" />
</form>
</body>
</html>